---
http_interactions:
- request:
    method: get
    uri: https://private-1971b-widergytrainingsouthutilityapi.apiary-mock.com/Notas?autor=Rodrigo%20Lugo%20Melgar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 64d0ecfc3c5d480078593bd8
      Akamai-Grn:
      - 0.1295c017.1691413756.1edf0de6
    body:
      encoding: UTF-8
      string: |-
        {
          "Notas": [
            {
              "Id": 1,
              "TituloNota": "Reseña",
              "ReseniaNota": true,
              "FechaCreacionNota": "2022-05-20T14:20:55-03:00",
              "EmailAutor": "silvanasuarez@north.com",
              "NombreCompletoAutor": "Suarez Silvana",
              "TituloLibro": "Harry Potter y la piedra filosofal",
              "NombreAutorLibro": "J.K.Rowling",
              "GeneroLibro": "fantasia"
            },
            {
              "id": 2,
              "TituloNota": "Reseña",
              "ReseniaNota": true,
              "FechaCreacionNota": "2021-03-11T11:23:43-03:00",
              "EmailAutor": "roquesigal@north.com",
              "NombreCompletoAutor": "Sigal Roque",
              "TituloLibro": "Harry Potter y la cámara secreta",
              "NombreAutorLibro": "J.K.Rowling",
              "GeneroLibro": "fantasia"
            },
            {
              "id": 3,
              "TituloNota": "Critica",
              "ReseniaNota": false,
              "FechaCreacionNota": "2023-01-06T08:10:11-03:00",
              "EmailAutor": "rociomartinez@north.com",
              "NombreCompletoAutor": "Martinez Rocio",
              "TituloLibro": "Animales fantásticos y dónde encontrarlos",
              "NombreAutorLibro": "J.K.Rowling",
              "GeneroLibro": "fantasia"
            }
          ]
        }
  recorded_at: Mon, 07 Aug 2023 13:09:16 GMT
recorded_with: VCR 6.2.0
