---
http_interactions:
- request:
    method: get
    uri: https://private-1971b-widergytrainingsouthutilityapi.apiary-mock.com/Libros?Autor=Rodrigo%20Lugo%20Melgar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 65e9ba78260f1c0096d2fba2
      Akamai-Grn:
      - 0.c4f71202.1709816440.fe13e6c0
    body:
      encoding: UTF-8
      string: |-
        {
            "Libros": [
                {
                    "Id": 1,
                    "Titulo": "Harry Potter y la piedra filosofal",
                    "Autor": "J.K.Rowling",
                    "Genero": "fantasia",
                    "ImagenUrl": "https://some_url.com",
                    "Editorial": "Nice Books",
                    "Año": "1997"
                },
                {
                    "Id": 2,
                    "Titulo": "Harry Potter y la cámara secreta",
                    "Autor": "J.K.Rowling",
                    "Genero": "fantasia",
                    "ImagenUrl": "https://some_url.com",
                    "Editorial": "Nice Books",
                    "Año": "1998"
                },
                {
                    "Id": 3,
                    "Titulo": "Animales fantásticos y dónde encontrarlos",
                    "Autor": "J.K.Rowling",
                    "Genero": "fantasia",
                    "ImagenUrl": "https://some_url.com",
                    "Editorial": "Nice Books",
                    "Año": "2001"
                }
            ]
        }
  recorded_at: Thu, 07 Mar 2024 13:00:41 GMT
recorded_with: VCR 6.2.0
